.page-footer {
  background: #3c3c3c;
  text-align: center;
  padding: 50px 0 60px;
  &__menu {
    @include ul-reset;
    margin: 40px 0;
    font-size: 0;
    & li {
      display: inline-block;
      vertical-align: top;
      padding-right: 15px;
      font-size: 14px;
      &:last-child {
        padding-right: 0;
      }
      & a {
        color: #a4a4a4;
        -webkit-transition: all ease-out 0.2s;
        -ms-transition: all ease-out 0.2s;
        transition: all ease-out 0.2s;
      }
      & a:hover {
        color: rgb(183, 172, 133);
        -webkit-transition: all ease-out 0.2s;
        -ms-transition: all ease-out 0.2s;
        transition: all ease-out 0.2s;
      }
    }
    @media (max-width: 420px) {
      & li {
        display: block;
      }
    }
  }
  &__sign {
    color: #a4a4a4;
    font-size: 14px;
    font-family: "LatoLight", serif;
  }
}
