.partners {
  background: #474747;
  padding: 90px 0;
  &__header {
    font-size: 30px;
    font-family: "LatoLight", serif;
    color: #fff;
    font-weight: 300;
    padding-bottom: 90px;
  }
  & img {
    padding-right: 100px;
  }
}
